html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big,
	cite, code, del, dfn, em, font, img,
	ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl ,dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	center, u, b, i, marquee, select, input {
	margin: 0; padding: 0px; border: 0px; outline: 0px;
}
html {
	height: 100%;
}
body {
	background:#eee url('../images/background.png') repeat-x center top;
	color: #444;
    font: 12px verdana, arial, helvetica, sans-serif;
    height: 100%;
}
h1 {
    color: #ff4b00;
    font-size: 20px;
}
h2 {
	color: #444;
	font-size: 14px;
}
h3 {
	color: #444;
	font-size: 12px;
}
h4 {
	margin: 0 0 3px 0;
	color: #fff;
}
a {
	color: #00b4ff;
    text-decoration: underline;
}

/* WRAPPER */

#wrapper { 
	background: transparent;
	margin: 0 auto -150px;
	width: 960px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

/* HEADERS AND NAVIGATION BAR*/

#loginheader {
	float: left;
	margin: 10px auto;
	padding: 0 30px;
	height: 10px;
	color: #fff;
	text-align: left;
}
#loginheader a {
	color: #00b4ff;
    text-decoration: none;
}
#loginheader a:hover {
	color: #ffb400;
}
#splbanner {
	margin: 0 auto;
	padding: 30px 0 0 0;
	height: 100px;
	width: 830px;
}
#splogo {
	float: right;
	margin: 10px 0 0 0;
	width: 130px;
}
#navigationbar {
	margin: 15px 0 0;
	
}
ul.menuitems {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	padding: 0 0 5px 0; /* set padding (tab size) as desired; THIRD number must change with respect to padding-top (X) above */
}
ul.menuitems li {
	display: inline;
}

ul.menuitems li a {
	padding: 5px 10px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
	border: 1px solid #888;
	background-color: #fff;
	color: #444;
	text-decoration: none;
}
 
ul.menuitems a:hover {
	background: #ffeecc;
}

/* PAGE CONTENT */
#sidebar {
	float: right;
	width: 240px;
	margin: 50px 0 0 20px;
	padding: 0 10px 10px;
}
#container {
	background: transparent;
	margin: 0 auto;
	padding: 0 20px 20px;
	width: 900px;
}
#containermid {
	background: url('../images/containermid.png') repeat-y center top;
}
#containertop {
	background: url('../images/containertop.png') center bottom;
	height: 21px;
}
#containerbottom {
	background: url('../images/containerbottom.png') center top;
	height: 30px;
}
	
#sc2banner{
	background: url('../images/sc2banner.jpg') no-repeat center center;
	width: 900px;
	height: 250px;
	margin: 0 0 -20px 0;
}
.note {
	color: #777;
	font-style: italic;
}
.mcontent {
	width: 100%;
}
.mcontainer {
	width: 620px;
}
.inforight {
	padding: 1px 0 0;
	line-height: 200%;
}
.infoleft {
	float: left;
	width: auto;
	padding: 0 10px 0 0;
	line-height: 200%;
	font-weight: bold;
}
.infoleftgrey {
	color: #777;
	float: left;
	width: auto;
	padding: 0 10px 0 0;
	line-height: 200%;
	font-weight: bold;
}
#editaccount {
	float: right;
	margin: 9px;
	width: 740px;
}
.break {
	height: 10px;
}
.majorlinebreak {
	background: #ccc;
	margin: 50px 0 10px;
	height: 2px;
	width: 100%
}
.accent {
	display: block;
	background: #888;
	height: 2px;
	width: 50px;
}
.innerlinebreak {
	background: #ddd;
	margin: 20px;
	height: 1px;
	width: auto;
}
.icons {
	margin: 0 2px;
	vertical-align: middle;
}

ul.normal {
	padding: 0 0 0 25px;
}

ul.faqlist {
	padding: 0 0 0 25px;
}

ul.faqlist li a {
	color: #444;
}

/* BRACKET */

.bracket {
	position: relative;
	background: url('../images/bracket.png') no-repeat center center;
	width: 900px;
	height: 500px;
	font-size: 11px;
	
}
.r0801 {line-height: 30px; position: absolute; left: 20px; top: 30px; padding: 0 10px; width: 180px;} 
.r0802 {line-height: 30px; position: absolute; left: 20px; top: 71px; padding: 0 10px; width: 180px;}
.r0803 {line-height: 30px; position: absolute; left: 20px; top: 130px; padding: 0 10px; width: 180px;}
.r0804 {line-height: 30px; position: absolute; left: 20px; top: 171px; padding: 0 10px; width: 180px;}
.r0805 {line-height: 30px; position: absolute; left: 20px; top: 230px; padding: 0 10px; width: 180px;}
.r0806 {line-height: 30px; position: absolute; left: 20px; top: 271px; padding: 0 10px; width: 180px;}
.r0807 {line-height: 30px; position: absolute; left: 20px; top: 330px; padding: 0 10px; width: 180px;}
.r0808 {line-height: 30px; position: absolute; left: 20px; top: 371px; padding: 0 10px; width: 180px;}
.r0401 {line-height: 30px; position: absolute; left: 240px; top: 80px; padding: 0 10px; width: 180px;}
.r0402 {line-height: 30px; position: absolute; left: 240px; top: 121px; padding: 0 10px; width: 180px;}
.r0403 {line-height: 30px; position: absolute; left: 240px; top: 280px; padding: 0 10px; width: 180px;}
.r0404 {line-height: 30px; position: absolute; left: 240px; top: 321px; padding: 0 10px; width: 180px;}
.r0201 {line-height: 30px; position: absolute; left: 460px; top: 180px; padding: 0 10px; width: 180px;}
.r0202 {line-height: 30px; position: absolute; left: 460px; top: 221px; padding: 0 10px; width: 180px;}
.r0203 {line-height: 30px; position: absolute; left: 460px; top: 410px; padding: 0 10px; width: 180px;}
.r0204 {line-height: 30px; position: absolute; left: 460px; top: 451px; padding: 0 10px; width: 180px;}
.r0101 {line-height: 30px; position: absolute; left: 680px; top: 200px; padding: 0 10px; width: 180px;}
.r0102 {line-height: 30px; position: absolute; left: 680px; top: 301px; padding: 0 10px; width: 180px;}
.r0103 {line-height: 30px; position: absolute; left: 680px; top: 430px; padding: 0 10px; width: 180px;}

.bracketscore {
	float: right;
}

/* MESSAGES */

textarea.message_ {
	width: 480px;
	height: 150px;
}
input.submitButton {
	cursor: pointer;
}
.subject_ {
	width: 480px;
}
.messagelabel {
	display: inline-block;
	width: 75px;
	font-weight: bold;
}
.messageperson {
	font-weight: bold;
}
.threadlabel {
	display: inline-block;
	width: 150px;
}

/* FOOTER */

#push {
	height: 150px;
}
#footer {
	background: #000;
	border-top: solid 5px #888;
	height: 145px;
}
#footerwrap {
	margin: 0 auto;
	padding: 10px;
	width: 920px;
}
div.donate {
	float: right;
	text-align: right;
}
div.flinks {
	float: left;
	width: auto;
	padding: 0 75px 0 0;
}
ul.flinks {
	padding: 0 0 0 5px;
	list-style: none;
}
ul.flinks li {
	font-size: 11px;
}
ul.flinks li a {
	color: #00b4ff;
	text-decoration: none;
}
ul.flinks li a:hover {
	color: #ffb400;
}

/* I DON'T KNOW WHAT THIS IS! */

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

/* NAVIGATION MENU */

.nav {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    margin: 0 0 5px 0;
    padding: 7px 0;
}

.menuButton {
    font-size: 10px;
    padding: 0 5px;
}
.menuButton a {
    color: #333;
    padding: 4px 6px;
}
.menuButton a.home {
    background: url(../images/skin/house.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 0 0 10px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 0;
    padding: 9px;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}
td.errors textarea {
    border: 1px solid red;
}

/* TABLES */

table {
    border: 1px solid #ccc;
    width: 100%
}
tr {
    border: 0;
}
td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: middle;
}
td.winnerl {
	text-align: right;
	font-weight: bold;
}
td.winnerr {
	text-align: left;
	font-weight: bold;
}
td.matchscore {
	text-align: center;
	font-weight: bold;
}
th {
    background: #fff url(../images/skin/shadow.jpg);
    color: #444;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}
th a:link, th a:visited, th a:hover {
    color: #444;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7
}
.even {
    background: #fff;
}

/* TABLE COLUMN FORMATTING */

td.right {
	text-align: right;
}
td.center {
	text-align: center;
}

/* Standings Table */

th.colstrank {
	text-align: right;
	width: 30px;
}
th.colstbnetid {
	text-align: left;
}
th.colstat {
	text-align: right;
	width: 120px;
}

/* Match Table */

th.colmatch {
	text-align: right;
	width: 30px;
}
th.colbnetidl {
	text-align: right;
	width: 150px;
}
th.colvs {
	text-align: center;
	width: 30px;
}
th.colgap {
	text-align: center;
	width: 5px;
}
th.colbnetidr {
	text-align: left;
}
th.colbnetidr2 {
	text-align: left;
}
th.colviewdetails {
	width: 120px;
}
th.colreportscore {
	width: 120px;
}

/* Thread Table */

th.colconvowith {
	text-align: left;
	width: 25%;
}
th.colsubject {
	text-align: left;
	width: 55%;
}
th.collastmessage {
	text-align: left;
	width: 20%;
}
    
/* LIST */

.list table {
    border-collapse: collapse;
}
.list table a {
	color: #444;
    text-decoration: none;
} 
.list table a:hover {
	text-decoration: underline;
}
.list tr:hover {
    background: #ffeecc;
}

/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

.paginateLinks {
    color: #444;
    font-size: 12px;
    overflow: hidden;
    padding: 20px 5px 0 0;
}
.paginateLinks a {
    color: #444;
    padding: 0 5px 0 0;
}
.paginateLinks span {
	padding: 0 5px 0 0;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 20%;
}
.prop .value {
    text-align: left;
}

/* ACTION BUTTONS */

.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}