html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}
h1 {
    color: #ff4b00;
    font-size: 26px;
    margin: 0;
}
h2 {
	color: #444;
	font-size: 18px;
	margin: 0;
}
h3 {
	font-size: 12px;
}
h4 {
	margin: 0 0 3px 0;
	color: #fff;
	font-size: 14px;
}
body {
    background:#dddddd url('../images/background.png') repeat-x center top;
    color: #444;
    font: 12px verdana, arial, helvetica, sans-serif;
}
img	{
	border: 0;
}
a:link, a:visited, a:hover {
    color: #00a4dd;
    text-decoration: underline;
}
p.date {
	color: #888;
	font-style: italic;
}

/* WRAPPER */

#wrapper { 
	background: transparent;
	margin: 0 auto;
	width: 960px;
}

/* HEADER */

#loginheader {
	float: left;
	margin: 10px 20px;
	height: 10px;
	width: 720px;
	color: #fff;
}
#splbanner {
	margin: 0;
	padding: 30px 0 0 0;
	height: 100px; 
	width: 760px;
}
#splogo {
	float: right;
}
#menubar {
	background: transparent;
	margin: 0;
	height: 30px;
	width: 760px;
}
ul.menuitems {
	margin: 0 0 0 30px;
	padding: 0;
}
ul.menuitems li {
	margin: 0 auto;
	padding: 0 2px;
	display: inline;
	color: #fff;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
}
ul.menuitems li a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}
ul.menuitems li a:hover {
	color: #ffb400;
}

/* PAGE CONTENT */

#container {
	background: #fff;
	margin: 20px 9px;
	padding: 10px;
	width: 920px;
	border: solid 1px #888;
}
#sc2banner{
	background: url('../images/sc2banner.jpg') no-repeat center center;
	margin: 0;
	width: 920px;
	height: 250px;
}
.mcontent {
	background: transparent;
	margin: 0;
	padding: 9px;
	width: 900px;
	border: solid 1px #ccc;
}
.rightimage {
	float: right;
	margin: 10px 0 10px 20px;
	text-align: center;
}
.inforight {
	line-height: 200%
}
.infoleft {
	float: left;
	width: auto;
	padding: 0 10px 0 0;
	font-weight: bold;
	line-height: 200%;
}
.break {
	height: 10px;
}

/* MESSAGES */

textarea.message_ {
	width: 480px;
	height: 150px;
}
input.submitButton {
	margin: 0;
}
.subject_ {
	width: 480px;
}
.messagelabel {
	display: inline-block;
	width: 75px;
	font-weight: bold;
}
.messageperson {
	font-weight: bold;
}
.threadlabel {
	display: inline-block;
	width: 150px;
}

/* LINEBREAK */

.linebreak {
	background: url('../images/linebreak.png') no-repeat center;
	height: 1px;
	width: 960px;
}
.innerlinebreak {
	background: url('../images/innerlinebreak.png') no-repeat center;
	height: 21px;
	width: 880px;
}

/* FOOTER */

#footer {
	background: url('../images/footerbar.png') repeat-x;
	height: 120px;
	width: 920px;
	margin: 10px;
	padding: 10px;
}
div.donate {
	float: right;
	text-align: right;
}
div.flinks {
	float: left;
	width: auto;
	padding: 0 75px 0 0;
}
ul.flinks {
	padding: 0 0 0 5px;
	list-style: none;
}
ul.flinks li {
	font-size: 11px;
}
ul.flinks li a {
	color: #fff;
	text-decoration: none;
}
ul.flinks li a:hover {
	color: #ffb400;
}

ul.normal {
	padding: 0 0 0 25px;
}

/* I DON'T KNOW WHAT THIS IS! */

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

/* NAVIGATION MENU */

.nav {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-style: solid none solid none;
    margin-top: 5px;
    padding: 7px 12px;
}

.menuButton {
    font-size: 10px;
    padding: 0 5px;
}
.menuButton a {
    color: #333;
    padding: 4px 6px;
}
.menuButton a.home {
    background: url(../images/skin/house.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 0 0 10px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 0;
    padding: 9px;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}
td.errors textarea {
    border: 1px solid red;
}

/* TABLES */

table {
    border: 1px solid #ccc;
    width: 100%
}
tr {
    border: 0;
}
td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: middle;
}
td.winnerl {
	text-align: right;
	font-weight: bold;
}
td.winnerr {
	text-align: left;
	font-weight: bold;
}
td.matchscore {
	text-align: center;
	font-weight: bold;
}
th {
    background: #fff url(../images/skin/shadow.jpg);
    color: #444;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}
th a:link, th a:visited, th a:hover {
    color: #444;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7
}
.even {
    background: #fff;
}

td a:link, td a:visited, td a:hover {
	color: #444;
    text-decoration: underline;
}

/* TABLE COLUMN FORMATTING */

td.right {
	text-align: right;
}
td.center {
	text-align: center;
}
/* Standings Table */
th.colstrank {
	text-align: right;
	width: 30px;
}
th.colstbnetid {
	text-align: left;
}
th.colstrace {
	text-align: left;
	width: 50px;
}
th.colstat {
	text-align: right;
	width: 120px;
}
/* Match Table */
th.colmatch {
	text-align: right;
	width: 30px;
}
th.colbnetidl {
	text-align: right;
	width: 150px;
}
th.colracel {
	text-align: right;
	width: 20px;
}
th.colvs {
	text-align: center;
	width: 30px;
}
th.colracer {
	text-align: left;
	width: 20px;
}
th.colbnetidr {
	text-align: left;
}
th.colbnetidr2 {
	text-align: left;
}
th.colmappack {
	width: 120px;
}
th.colreportscore {
	width: 120px;
}
/* Thread Table */
th.colconvowith {
	text-align: left;
	width: 25%;
}
th.colsubject {
	text-align: left;
	width: 55%;
}
th.collastmessage {
	text-align: left;
	width: 20%;
}
    
/* LIST */

.list table {
    border-collapse: collapse;
    margin: 10px 0 0 0;
}
.list th, .list td {
}
.list tr:hover {
    background: #ffeecc;
}

/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 20%;
}
.prop .value {
    text-align: left;
}
/* ACTION BUTTONS */

.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}
